container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: /home/deshraj/website/gdg
    value: gdg/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: gdg.settings
  - option_name: AWS_SECRET_KEY
    value: higWyAuwVDVyBqz8Ek42qLP9CoHZdTNV2TLLlcKI
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJKJLNCETYFQCQ43Q